.DS_Store
.env*.local
.pnp.js
.vercel
.yarn/install-state.gz
*.pem
*.tsbuildinfo
/.next/
/.pnp
/build
/coverage
/node_modules
/out/
next-env.d.ts
npm-debug.log*
src/aws-exports.js
yarn-debug.log*
yarn-error.log*
