.icon-arrow-right {
  width: 24px;
  height: 24px;
}
.icon-bars {
  width: 18px;
  height: 12px;
}
.icon-circle-phone {
  width: 25px;
  height: 24px;
}
.icon-community-care {
  width: 26px;
  height: 26px;
}
.icon-envelope {
  width: 25px;
  height: 20px;
}
.icon-facebook {
  width: 25px;
  height: 24px;
}
.icon-inbox-message-dots {
  width: 184px;
  height: 152px;
}
.icon-instagram {
  width: 25px;
  height: 24px;
}
.icon-linkedin {
  width: 25px;
  height: 24px;
}
.icon-location-dot {
  width: 21px;
  height: 24px;
}
.icon-logo-bna-dark {
  height: 46px;
  width: 209px;
}
.icon-logo-bna-light {
  width: 178px;
  height: 43px;
}
.icon-objects-column {
  width: 26px;
  height: 26px;
}
.icon-school {
  width: 22px;
  height: 20px;
}
.icon-store {
  width: 22px;
  height: 20px;
}
.icon-tree {
  width: 22px;
  height: 20px;
}
.icon-train-subway {
  width: 22px;
  height: 20px;
}
.icon-x-twitter {
  width: 25px;
  height: 24px;
}
.icon-xmark {
  width: 14px;
  height: 14px;
}
.icon-youtube {
  width: 25px;
  height: 17px;
}
