@layer base {
  *,
  *::after,
  *:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }

  body {
    box-sizing: border-box;

    width: 100%;
    max-width: 1440px;
    min-height: 100%;
    margin: 0 auto;

    display: grid;
    grid-template-rows: auto 1fr auto;

    font-family: 'Montserrat';
    font-weight: var(--regular);
    font-size: var(--16px);
    line-height: normal;
    color: var(--deep-navy);

    background-color: var(--white);
  }

  a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
  }

  fieldset {
    padding: 0;
    border: none;
    border-width: 0;
  }

  ul, ol, dd {
    list-style: none;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Dharma Gothic E';
    font-weight: var(--bold);
    line-height: normal;
    color: var(--deep-navy);
  }

  h1 {
    font-size: var(--40px);
    letter-spacing: var(--ls-1px);
    margin: .67em 0;
  }
  h2 {
    font-size: var(--34px);
    letter-spacing: var(--ls-0_7px);
    margin: .75em 0
  }
  h3 {
    font-size: var(--28px);
    letter-spacing: var(--ls-0_7px);
    margin: .83em 0
  }

  button {
    border-style: none;
    background-color: transparent;
  }

  @media (810px <= width) {
    h1 {
      font-size: var(--60px);
      letter-spacing: var(--ls-1_5px);
    }
    h2 {
      font-size: var(--48px);
      letter-spacing: var(--ls-1_25px);
    }
    h3 {
      font-size: var(--32px);
      letter-spacing: var(--ls-0_85px);
    }
  }
}
